
main {
    display: flex;
    padding-top: 126px;
    width: 100%;
    overflow-x: hidden;
}
.left-col{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes growAndRotate {
    from {
      width: 250px;
      height: 250px;
      transform: rotate(0deg);
    }
    to {
      width: 400px;
      height: 400px;
      transform: rotate(360deg);
    }
  }

  .animated-image {
    width: 400px;
    height: 400px;
    transition: width 2s ease-in-out, transform 2s ease-in-out;
    animation: growAndRotate 2s ease-in-out; 
  }

  @keyframes fadeInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animated-text {
    animation: fadeInFromRight 2s ease-in-out; 
  }

  @keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    overflow: hidden;
    height: 100px;
  }

  .animated-text-bottom {
    animation: fadeInFromBottom 2s ease-in-out; 
  }

.right-col{
    width: 40%;
}

.right-col h1 {
    color: #FFF;
    font-family: Antonio;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 23px;
}
#description {
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    max-width: 350px;
    padding-bottom: 24px;
}

#source{
    opacity: 0.5;
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
    padding-bottom: 39px;
}
#source a{
    text-decoration: none;
    opacity: 0.5;
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/* button{
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 2.571px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 28px;
}

.buttons button{
    max-width: 350px;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgba(246, 246, 246, 0.3);
}
.buttons button:hover{
    background: #9f9e9e;
}
.buttons button:focus{
    background: #419EBB;
} */

section {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 30px
}
section div{
    width: 255px;
    height: 100%;
    border: 1px solid rgba(246, 246, 246, 0.3);
    padding: 20px 23px;
}
section div p {
    color: #FFF;
    font-family: Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.8;
    padding-bottom: 5px;
}
section div h1 {
    color: #FFF;
    font-family: Antonio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}
.mobile-buttons{
    display: none;
}

section div:last-child{
    margin-bottom: 60px; 
  }

@media only screen and (max-width: 968px){

    @keyframes growAndRotate {
        from {
          width: 150px !important;
          height: 150px !important;
          transform: rotate(0deg);
        }
        to {
          width: 250px !important;
          height: 250px !important;
          transform: rotate(360deg);
        }
      }
    
      .animated-image {
        width: 250px !important;
        height: 250px !important;
        transition: width 2s ease-in-out, transform 2s ease-in-out; 
        animation: growAndRotate 2s ease-in-out; 
      }

      
    main{
        flex-direction: column;
        padding-top: 0 !important;
        /* align-items: center; */
        overflow: hidden;
    }
    .image{
        margin-top: 70px;
        margin-bottom: 80px;
    }
    .left-col{
        width: 100% !important;
    }
    .left-col .image{
        width: 350px;
        height: 350px;
    }
    .right-col{
        width: 100% !important;
    }
    .right-col h1{
        color: #FFF;
        text-align: center;
        font-family: Antonio;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    #description{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: #FFF;
        text-align: center;
        font-family: Spartan;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 200% */
        max-width: 327px;;
    }
    #source{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        color: #FFF;
        font-family: Spartan;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        text-decoration-line: underline;
    }
    .buttons{
        visibility: hidden;
        height: 0;

    }
    section{
        flex-direction: column;
    }   
    section div{
        width: 90% !important;
        height: 48px;
        margin: 0 23px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    section div h1{
        color: #FFF;
        text-align: center;
        font-family: Antonio;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.75px;
        text-transform: uppercase;
    }
    section div p {
        padding-top: 10px;
        text-align: center;
    }

    .mobile-buttons{
        display: flex;
        background-color: transparent;
        padding-bottom: 50px;
        gap: 44px;
        justify-content: center;
        padding: 20px;
        border: 1px solid rgba(246, 246, 246, 0.3);
    }
    .mobile-buttons a{
        color: #FFF;
        text-align: center;
        font-family: Spartan;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.929px;
        text-transform: uppercase;
        
    }



    
}