nav {
    display: flex;
    justify-content: space-between;
    padding: 22px 32px;
    border-bottom: 1px solid #FFF;
    border: 1px solid rgba(246, 246, 246, 0.3);
}
nav h1{
    color: #FFF;
    font-family: Antonio;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    text-transform: uppercase;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 33px;
}
nav ul li{
    padding-top: 8px;
    color: #FFF;
    font-family: Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu{
    visibility: hidden;
}

@media only screen and (max-width: 968px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        display: none;
    }
    .menu{
        visibility: visible;
    }
    

}
