*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #070724;
    background-image: url("../public/assets/background-stars.svg");
    /* background-color: rgb(53, 49, 96); */
}